<div id="container">
    <div>
        <h2>
            hellohooman is a project made by Hadekha Erfadila Fitra, this ometv-clone project is made
            for educational purposes.
        </h2>
        <h2>
            This web app implements / uses:
            <ul>
                <li><h4>angular as typescript frontend framework</h4></li>
                <li><h4>golang as backend language</h4></li>
                <li><h4>angular ngrx state management</h4></li>
                <li><h4>websocket for signalling server</h4></li>
            </ul>
        </h2>
    </div>
</div>