#container {
    background-color: wheat;
    position:absolute;
    height:100%;
    width:100%;
}

#title img{
    width:25px;
}

#title {
    margin-top: 15px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

#videogrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#btn-group button {
    background-color: indianred;
    display: block;
    height: 32px;
    font-size: large;
    border: none;
    margin:0 5px 0 5px;
    border-radius: 25%;
    cursor: pointer;
}

.videocol {
    margin:0 25px 0 25px;
    padding: 0px;
    text-align: center;
}

.videocol video {
    width:500px;
    padding: 0px;
    margin:0px;
}

#appchatbox {
    margin-bottom:20px;
    width: 800px;
}