<!-- {{(user | async)?.User.ID}}
{{(user | async)?.User.Name}}
{{(user | async)?.User.Gender}} -->

<div id="container">
    <div id="title">
        <img src="assets/logo.png">
    </div>
    <div class="center">
        <div id="videogrid">    
            <div class="videocol">
                <video autoplay id="localvideo"></video>
                <h2>{{(userAsync | async)?.User.Name}} (you)</h2>
            </div>
            <div class="videocol">
                <video autoplay id="remotevideo"></video>
                <h2>{{(peerAsync | async)?.User.Name}} (peer)</h2>
            </div>
        </div>
    </div>
    <div class="center">
        <div id="appchatbox" *ngIf="canChat">
            <app-chat-box></app-chat-box>
        </div>
    </div>
    <div class="center">
        <div id="btn-group" class="center">
            <button (click)="goLive()" *ngIf="statusNotStarted">start</button>
            <button (click)="goStop()" *ngIf="!statusNotStarted">stop</button>
            <button (click)="changeMicState()" [ngStyle]="{'background-color':micState.color}">mic {{micState.status}}</button>
            <button (click)="changeVidState()" [ngStyle]="{'background-color':vidState.color}">vid {{vidState.status}}</button>
        </div>
    </div>
</div>